body {
    font-family: Arial, sans-serif;
    background-color: #FF6064;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    color: #333;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 30px;
    color: #333;
}

p {
    font-size: 18px;
    margin: 10px 0;
}

button {
    margin-top: 20px;
    padding: 10px 40px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    background-color: #FF6B6B;
    color: white;
    border: none;
}

button:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
